{% set plant_name = eleventyPlant.dataset.plant_name %}
{% set plant_citation_items = eleventyPlant.dataset.plant_citation_items %}

{% set citation_list_wrapper =
  {
    wrapper_class: '[ plant-citations ]',
    title_class: '[ plant-citations__title ]',
    list_class: '[ plant-citations__list ]',
    heading_level: 'h2',
    title: 'Plant Citations',
    list: plant_citation_items,
    empty_message: 'There are no citations for ' ~ plant_name ~ '.'
  }
%}

{% include "../citations/citation-list-wrapper.html" %}
