<nav class="taxonomy-levels" role="nav">
  <h2 class="[ headline-with-border ] [ taxonomy-levels__title ]">Taxonomy Levels</h2>
  <ul class="taxonomy-levels__level-list">
    {% set taxonomy_levels = eleventyPlant.dataset.taxonomy_levels %}
    {% for taxonomy_level in taxonomy_levels %}
      {% set level_machine_name = taxonomy_level.level_machine_name %}
      {% set level_type = taxonomy_level.level_type %}
      {% include "partials/plants/taxonomy-level.html" %}
    {% endfor %}
  </ul>
</nav>
