{% set nursery_specialties = eleventyNursery.dataset.nursery_specialties %}
{% set nursery_specialties_link_list = eleventyNursery.dataset.nursery_specialties_link_list %}

{% set nursery_specialties_inline_list_wrapper =
  {
    wrapper_class: '',
    title_class: '',
    list_class: '',
    heading_level: 'strong',
    title: 'Nursery specialties:',
    nursery_specialties_inline_list: nursery_specialties_link_list,
    empty_message: 'There are no specialties for this nursery.'
  }
%}

{% include "partials/nursery-specialties-inline-list/nursery-specialties-inline-list-wrapper.html" %}
