{% extends "layouts/base.html" %}

{% set has_nursery_data = false %}
{% set nursery_data = {} %}
{% set title = '' %}

{% if helpers.objectHasOwnProperties(nursery, ['data']) %}
  {% set has_nursery_data = true %}
  {% set nursery_data = nursery.data %}

  {% set nursery_details = helpers.getNurseryDetails(nursery_data) %}
  {% set title = nursery_details.name %}
{% endif %}

{% block content %}

  <div class="[ wrapper wrapper--topbot ]">
    {% if has_nursery_data %}
      {% include "partials/nurseries/nursery-full.html" %}
    {% endif %}
  </div>
{% endblock %}
