{% extends "layouts/base.html" %}

{% set nurseries = eleventyNurseryCategory.dataset.nurseries %}
{% set nursery_category_slug = eleventyNurseryCategory.dataset.sourceSlug %}
{% set nursery_category_title = eleventyNurseryCategory.dataset.nursery_category_title %}

{% block content %}

<div class="[ wrapper wrapper--topbot ]">
  <article class="[ page ] [ page--nursery-category ]">
    <div class="[ page-head ] [ page-head--nursery-category ]">
      <h1 class="[ page-title ] [ page-title--nursery-category ]">{{ nursery_category_title }}</h1>
    </div>

    <div class="[ page-bottom ] [ page-bottom--nursery-category ]">

      {% for nursery_info in nurseries %}

        {% set nursery = nursery_info.nursery %}
        {% set nursery_details = nursery_info.nursery_details %}
        {% set title = nursery_info.nursery_title %}
        {% include "partials/nurseries/nursery-teaser.html" %}

      {% endfor %}

      {% set pagination_title = "Nursery Category" %}
      {% set pagination_id = "pagination-nurseries-by-category" %}
      {% set pagination_details = nursery_by_category %}
      {% include "partials/pagination.html" %}
    </div>
  </article>
</div>

{% endblock %}
