{% extends "layouts/base.html" %}

{% set show_related_data = 'true' %}
{% set show_citations = 'true' %}

{% set has_plant_data = eleventyPlant.dataset.has_plant_data %}
{% set plant_data = eleventyPlant.dataset.plant_data %}
{% set plant_name = eleventyPlant.dataset.plant_name %}
{% set plant_machine_name = eleventyPlant.dataset.plant_machine_name %}
{% set plant_type = eleventyPlant.dataset.plant_type %}
{% set scientificNameInfo = eleventyPlant.dataset.scientificNameInfo %}

{% block content %}

  <div class="[ wrapper wrapper--topbot ]">
    <article class="[ page ] [ page--plant ]">
      <div class="[ page-head ] [ page-head--plant ]">
        <h1 class="[ page-title ] [ page-title--plant ]">{{ plant_name }}</h1>
        {% if plant_type !== 'family' %}
          <div class="page-sub-title">
            {% include "partials/plants/scientific-name.html" %}
          </div>
        {% endif %}
      </div>

      {% if (show_related_data === 'true') and (plant_type !== 'family') and (plant_type !== 'variety') %}
        {% include "partials/plants/related-plants.html" %}
      {% endif %}

      {% if plant_type === 'family' %}
        {% set family_data = plant_data %}
        {% include "partials/plants/family-data.html" %}
      {% endif %}

      {% if (plant_type === 'species') or (plant_type === 'variety') %}
        <div class="[ page-bottom ] [ page-bottom--plant ] [ auto-grid grid-2-1 ]">
          <div class="[ page-bottom__first ]">
            {% include "partials/plants/nursery-availability.html" %}
          </div>
          <div class="[ page-bottom__second ]">
            {% include "partials/plants/taxonomy-levels.html" %}
            {% if show_citations === 'true' %}
              {% include "partials/plants/plant-citations.html" %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </article>
  </div>

{% endblock %}
